<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload File</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
		
		
		 <!-- Upload form. Note enctype attribute! -->
        <form action="http://localhost:8000/myapp/create_folder/" method="post" >
            {% csrf_token %}
             Add Folder:<br>
 			 <input type="text" name="add_folder"><br>

            <p><input type="submit" value="Add folder"/></p>
        </form>
		
		
		
        <!-- Upload form. Note enctype attribute! -->
        <form action="http://localhost:8000/myapp/upload_file/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
