<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search File</title>
    </head>

    <body>
        <!-- List of search results -->
        
        {% if documents %}
        	
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.location }}">{{ document.doc_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="http://localhost:8000/myapp/search_file/" method="post" >
            {% csrf_token %}
             Search:<br>
 			 <input type="text" name="search_value"><br>

            <p><input type="submit" value="Search"/></p>
        </form>
    </body>

</html>
